{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
</head>
<body>
    <div class="main">
        <h4 style="color: red; text-align: center;">{{msg}}</h4>
        <h2> Signup form</h2>
        <form action="{% url 'signup_logic' %}" method="post" >
        {% csrf_token %}
        <div class="input-box">
            <input type="text" name="fname" placeholder="Enter the first name " id="">
        </div>

        <div class="input-box">
            <input type="text" name="lname" placeholder="Enter the Last name " id="">
        </div>

        <div class="input-box">
            <input type="email" name="email" placeholder="Enter the email" id="">
        </div>

        <div class="input-box">
            <input type="password" name="pass" placeholder="Enter the password " id="">
        </div>

        <div class="input-box">
            <input type="password" name="cpass" placeholder="Enter the Confirm password " id="">
        </div>

        <div class="button">
            <input type="submit" value="Signup" name="" id="">

        </div>

        <div class="text">
            <h3> Allready have an account ? <a href="{% url 'login_page' %}">Login now</a> </h3>
        </div>

    </form>
    </div>
    
</body>
</html>